{% extends 'Admin.html.twig' %}
{% block contenu %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="card-body">
                        <h4 class="card-title">Personal Info</h4>
                        <div class="form-group row">
                            {{ form_label(form.name, "First Name", {'label_attr': {'class': 'col-sm-3 text-right control-label col-form-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.type, "Type", {'label_attr': {'class': 'col-sm-3 text-right control-label col-form-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.department, "Department", {'label_attr': {'class': 'col-sm-3 text-right control-label col-form-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-3 text-right control-label col-form-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.mobile, "mobile", {'label_attr': {'class': 'col-sm-3 text-right control-label col-form-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.mobile, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.hospital_name, "Hospital name", {'label_attr': {'class': 'col-sm-3 text-right control-label col-form-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.hospital_name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.specialization, "Specialization", {'label_attr': {'class': 'col-sm-3 text-right control-label col-form-label'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.specialization, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}