

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>Register</h1>
    <div class="container mt-4">

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}

    {{ form_row(registrationForm.age) }}
    {{ form_row(registrationForm.status) }}
    {{ form_row(registrationForm.agreeTerms) }}


    <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}



