{% extends 'connection.htm.twig' %}
{% block imgbckg %}
<div class="wrap-login100 p-t-30 p-b-50">
    <span class="login100-form-title p-b-41">
        Account Login
    </span>

    {{ form_start(registrationForm, {'attr': {'class': 'login100-form validate-form p-b-33 p-t-5'}}) }}
        <div class="wrap-input100 validate-input">
            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'input100','placeholder':'firstName'}}) }}
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>

        <div class="wrap-input100 validate-input">
            {{ form_widget(registrationForm.lastName, {'attr': {'class': 'input100','placeholder':'lastName'}}) }}
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>
        <div class="wrap-input100 validate-input">
            {{ form_widget(registrationForm.username, {'attr': {'class': 'input100','placeholder':'username'}}) }}
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>
        <div class="wrap-input100 validate-input">
            {{ form_widget(registrationForm.email, {'attr': {'class': 'input100','placeholder':'email'}}) }}
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>
        <div class="wrap-input100 validate-input">
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input100','placeholder':'plainPassword'}}) }}
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>
        <div class="wrap-input100 validate-input">
            {{ form_widget(registrationForm.age, {'attr': {'class': 'input100','placeholder':'age'}}) }}
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>
        <div class="wrap-input100 validate-input">
            {{ form_widget(registrationForm.status, {'attr': {'class': 'input100','placeholder':'status'}}) }}
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>
        <div class="wrap-input100 validate-input">
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': '','placeholder':'agreeTerms'}}) }}
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>
    <div class="border-top">
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
        {{ form_end(registrationForm) }}
</div>

{% endblock %}


