{% extends 'Admin.html.twig' %}

{% block title %}TABLE OF PRESCRIPTION{% endblock %}

{% block contenu %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">PRESCRIPTIONS LIST</h5>
            <div class="table-responsive">
                <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="zero_config_length">
                                <label>Show <select name="zero_config_length" aria-controls="zero_config" class="form-control form-control-sm">
                                        <option value="10">10</option><option value="25">25</option>
                                        <option value="50">50</option><option value="100">100</option>
                                    </select> entries</label></div></div><div class="col-sm-12 col-md-6">
                            <div id="zero_config_filter" class="dataTables_filter">
                                <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="zero_config">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-sm-12">
                            <table id="zero_config" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="zero_config_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 55px;">ID</th>
{#                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 72px;">DATE OF BIRTH</th>#}
                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 50px;">DIAGNOSTIC</th>
                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 25px;">Age</th>
                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 58px;">CONTACT</th>
                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="3" colspan="3" aria-label="Salary: activate to sort column ascending" style="width: 58px;">ACTION</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for prescriptions in prescriptions %}

                                    <tr role="row" class="odd">
                                        <td>{{ prescriptions.id }}</td>
                                        <td>{{ prescriptions.diagnostic }}</td>
                                        <td>{{ prescriptions.age }}</td>
                                        <td>{{ prescriptions.contact }}</td>


                                        <td>
                                            <a href="{{ path('doctor_edit', {'id': prescriptions.id}) }}" class="btn btn-primary " >Edit

                                            </a>
                                            <a href="{{ path('show_doctor',{'id': prescriptions.id}) }}" ><span class="btn btn-warning">show</span></a>
                                            <a href="{{ path('print_prescription',{'id': prescriptions.id}) }}">
                                                <button class="btn btn-success" type="submit">print </button>
                                            </a>


                                        </td>
                                        <td>
{#                                            <form method="post" action="{{ path('prescription_delete', {'id': prescriptions.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#                                                <input type="hidden" name="_method" value="DELETE">#}
{#                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prescriptions.id) }}">#}
{#                                                <button class="btn btn-danger">Delete</button>#}

{#                                            </form>#}
                                            {{ include('admin/doctor/prescription/_delete_form.html.twig') }}


                                        </td>


                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="13">no records found</td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
