{% extends 'Admin.html.twig' %}

{% block css %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

    {{ parent() }}
{% endblock %}

{% block title %}{{  parent() }}TABLE OF PRESCRIPTION{% endblock %}


{% block contenu %}

<div class="card bg-light mb-3" style="height: 10rem">

    <table class="table"
            data-toggle="table"
            data-height="460"
            data-sortable="true"
            data-search="true"
            data-url="json/data1.json">

        <div class="card-header">
            <h4 class="card-title">PRESCRIPTIONS</h4>
        <thead class="thead-black">

        <tr>
            <th data-sortable="true" data-field="id"  >ID</th>
            <th data-field="name" data-search-formatter="true" >CONTACT</th>
            <th data-field="" data-formatter="priceFormatter">DIAGNOSTIC</th>
            <th data-field="age" data-formatter="priceFormatter">AGE</th>
            <th data-field="age"  colspan="2" data-formatter="priceFormatter">ACTION</th>


        </tr>

        </thead>
            </div>
        <div class="card-body" style="height: 10rem" >
<tbody>
        {% for prescriptions in prescriptions %}

            <tr role="row" class="odd">

                <td>{{ prescriptions.id }}</td>
                <td>{{ prescriptions.contact }}</td>
                <td>{{ prescriptions.diagnostic }}</td>
                <td>{{ prescriptions.age }}</td>



                <td>
                    <a href="{{ path('doctor_edit', {'id': prescriptions.id}) }}" class="btn btn-primary " >Edit

                    </a>
                    <a href="{{ path('show_doctor',{'id': prescriptions.id}) }}" ><span class="btn btn-warning">show</span></a>
                    <a href="{{ path('print_prescription',{'id': prescriptions.id}) }}">
                        <button class="btn btn-success" type="submit">print </button>
                    </a>

                </td>
                <td>
                    {{ include('admin/doctor/prescription/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
</tbody>
        </div>

    </table>
    </div>


<

{% endblock %}
{% block js %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    {{ parent() }}
{% endblock %}
