

{% block title %}MedicPrescription{% endblock %}

{% block body %}
    <h1>MedicPrescription</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ prescription.id }}</td>
        </tr>
        <tr>
            <th>DateOfBirth</th>
            <td>{{ prescription.dateOfBirth ? prescription.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ prescription.age }}</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>{{ prescription.contact }}</td>
        </tr>
        <tr>
            <th>Diagnostic</th>
            <td>{{ prescription.diagnostic }}</td>
        </tr>
        <tr>
            <th>Blood_pressure</th>
            <td>{{ prescription.bloodPressure }}</td>
        </tr>
        <tr>
            <th>Pulse_rate</th>
            <td>{{ prescription.pulseRate }}</td>
        </tr>
        <tr>
            <th>Drug</th>
            <td>{{ prescription.drug }}</td>
        </tr>
        <tr>
            <th>Unite</th>
            <td>{{ prescription.unite }}</td>
        </tr>
        <tr>
            <th>Dosage</th>
            <td>{{ prescription.dosage }}</td>
        </tr>
        <tr>
            <th>Examination</th>
            <td>{{ prescription.examination }}</td>
        </tr>
        <tr>
            <th>Health_regine</th>
            <td>{{ prescription.healthRegine }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('doctor_index') }}">back to list</a>

    <a href="{{ path('doctor_edit', {'id': medic_prescription.id}) }}">edit</a>

    {{ include('profiles/appointment/_delete_form.html.twig') }}
{% endblock %}
