
{% block body %}



    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body printableArea">
                    <h3><b>PRESCRIPTION ID:</b> <span class="pull-right" style="text-emphasis-color:red">{{ patientprescription.id }}</span></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <address>
                                    <h3> &nbsp;<b class="text-danger">Dr. {{ patientprescription.medicName }}</b></h3>
                                    <p class="text-muted m-l-5">{{ patientprescription.medicName.lastNaME }}
                                        <br> {{ patientprescription.medicName.firstName }},
                                        <br> Tel:{{ patientprescription.contact }},
                                        <br> {{ patientprescription.medicName.email}}
                                        <br> {{ patientprescription.medicName.infoDoctor.mobile}}
                                    </p>
                                </address>
                            </div>
                            <div style="text-align: right"  >
                                <address>
                                    <h3>To,</h3>
                                    <h4 class="font-bold">{{ patientprescription.patientName.firstName}}</h4>
                                    <p class="text-muted m-l-30">
                                        <br> {{ patientprescription.patientName.lastName}}
                                        <br> {{ patientprescription.patientName.username}},
                                        <br> {{ patientprescription.patientName.email}}</p>
                                    <p class="m-t-30"><b>Due Date :</b> <i class="fa fa-calendar"></i> {{ patientprescription.createdAt |date }}</p>
                                    {#                                <p><b>Due Date :</b> <i class="fa fa-calendar"></i> 25th Jan 2018</p>#}
                                </address>



                            </div>
                            <p> <b> AGE:</b>{{ patientprescription.age }} &nbsp; &nbsp; &nbsp;<b>BLOOD PRESSURE:</b>{{ patientprescription.bloodPressure }} &nbsp;&nbsp;&nbsp; <b>PULSE RATE:</b>{{ patientprescription.pulseRate }}</p>
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive m-t-40" style="clear: both;">
                                {#                                <table class="table table-hover>#}
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Diagnostic</th>
                                        <td>{{ patientprescription.diagnostic }}</td>
                                    </tr>

                                    <tr>
                                        <th>Drug</th>
                                        <td>{{ patientprescription.drug|raw }}</td>
                                    </tr>

                                    <tr>
                                        <th>Examination</th>
                                        <td>{{ patientprescription.examination |raw}}</td>
                                    </tr>
                                    <tr>
                                        <th>Health_regime</th>
                                        <td>{{ patientprescription.healthRegine }}</td>
                                    </tr>
                                    </tbody>
                                </table>



                            </div>
                            <div class="col-md-12" style="text-align: right">

                                <div class="pull-right m-t-30 text-right">
                                    {#                                <p>Sub - Total amount: $13,848</p>#}
                                    {#                                <p>vat (10%) : $138 </p>#}<h2><b>Thanks </b></h2>
                                    <hr>
                                    <h3> Your health is Our Priority</h3>
                                </div>
                                <div class="clearfix"></div>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
    </div>

{% endblock %}



