<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block css %}
    <link rel="icon" type="image/png" href="{{ asset('login/images/icons/favicon.ico') }} "/>
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animsition/css/animsition.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/main.css') }}">
    {% endblock %}
</head>
{% block body %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background: white">
    <a class="navbar-brand" href={{ path('home') }}>
        <img src="{{ asset('images/logo dpp.png') }}" alt="home" class="light-logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse " id="navbarColor01">


            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}" style="color: #0b0b0b">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"  style="color: #0b0b0b">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('contact')}}"  style="color: #0b0b0b">contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('about')}}"  style="color: #0b0b0b">About</a>
                </li>
                <li>
                    <a class="profile-pic" href="{{path('app_register')}}"> <b class="hidden-xs">
                            <button class="btn btn-primay" style="background-color: #EB5757"><span>sing up</span></button></b></a>
                </li>

            </ul>

        {#                            <a  class="navbar-brand"  href="{{ path('app_register') }}"  style="color: #0b0b0b">Sign Up</a>#}
        {#                            &nbsp;&nbsp;&nbsp;#}
        {#                            <a  class="navbar-brand"  href="{{ path('login') }}"  style="color: #0b0b0b">Sign In</a>#}



    </div>
</nav>

    <div class="limiter">
        <div class="container-login100" style="background-image: url({{ asset('home/images/hero_1.jpg') }});" >
            {% block imgbckg %}
            <div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5" action="{{ path('login') }}" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input class="input100" type="email" id="inputEmail"  name="email"  value="{{last_username}}" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" id="password" name="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn">Login</button>
                    </div>
                    <div class="checkbox mb-3 justify-content-center">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    <div class="inline-items-center">
                    <a href="{{ path('app_register') }}" style="color: #2a2358"><span>Don't you have a membership</span></a>
                    </div>

                </form>
            </div>


        </div>
        {% endblock %}
    </div>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                <div class="block-7">
                    <h3 class="footer-heading mb-4">About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
                        sed dolorum excepturi iure eaque, aut unde.</p>
                </div>

            </div>
            <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Quick Links</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Patient Info</a></li>
                    <li><a href="chat.html">Chat</a></li>
                    <li><a href="#">Notification</a></li>

                </ul>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                        <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                        <li class="email">emailaddress@domain.com</li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>

                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                    with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://dppsystem.com" target="_blank"
                                                                             class="text-primary">DPPsystem</a>

                </p>
            </div>

        </div>
    </div>

</footer>
{#    <div id="dropDownSelect1"></div>#}
   {% block js %}
       <script>
           $('select').select2();
       </script>
{% endblock %}

</body>

{% endblock %}
</html>
