{% extends 'admin.html.twig' %}
{% block css %}{{ parent() }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
{% endblock %}

{% block contenu %}
    <div class="container emp-profile">
    <form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{ asset('uploads/profil/'~users.infoDoctor.image) }}" style="width: 275px; height: 183px" alt=""/>

                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{users.firstName}} {{ users.lastName }}
                </h5>
                <h6>
                    {{users.infoDoctor.specialization}}
                </h6>
                <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">

                    {{ form_start(form) }}
                    <div class="col-md-4">
                        {{ form_row(form.) }}
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}